@import "./variables.scss";
@import "src/styles/mixins.scss";

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $font-size-default;
}

h1 {
  font-size: $font-size-9;
  font-weight: $font-weight-bold;

  @include media("tablet-portrait-max") {
    font-size: $font-size-8;
  }

  @include media("mobile-landscape-max") {
    font-size: $font-size-7;
  }
}

h2 {
  font-size: $font-size-7;
  font-weight: $font-weight-bold;
}

.pb {
  &__20 {
    padding-bottom: $spacing-large;
  }
}

input {
  padding: $spacing-medium;
  margin-bottom: $spacing-large;
  font-size: $font-size-medium;
  border: 1px solid $color-grey;
  border-radius: 4px;
  outline: none;
}

textarea {
  padding: $spacing-medium;
  margin-bottom: $spacing-large;
  height: 100px;
  font-size: $font-size-medium;
  font-family: "Roboto";
  border: 1px solid $color-grey;
  border-radius: 4px;
}

.primary-btn {
  padding: $spacing-medium;
  color: $color-white;
  font-size: $font-size-medium;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: $color-primary;

  &:hover {
    background-color: darken($color-primary, 10%);
  }
}
